<?xml version="1.0" encoding="UTF-8"?>
<svg width="16px" height="14px" viewBox="0 0 16 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>D2BBE401-E3E0-428B-90BE-AF1EDCBFB91B</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Headers-Camilla-11/20" transform="translate(-16.000000, -821.000000)" fill="#000000" fill-rule="nonzero">
            <g id="Group-13-Copy-2" transform="translate(0.000000, 759.000000)">
                <g id="Group-11" transform="translate(0.000000, 34.000000)">
                    <g id="Group-9" transform="translate(16.000000, 24.000000)">
                        <path d="M15.4530885,6.60940216 C15.6860667,6.60940216 15.8749624,6.42050643 15.8749624,6.18752816 L15.8749624,5.06253085 C15.8749624,4.82955258 15.6860667,4.64065685 15.4530885,4.64065685 L0.546873994,4.64065685 C0.313895729,4.64065685 0.125,4.82955258 0.125,5.06253085 L0.125,6.18752816 C0.125,6.42050643 0.313895729,6.60940216 0.546873994,6.60940216 L15.4530885,6.60940216 Z M15.4530885,12.2343887 C15.6860667,12.2343887 15.8749624,12.045493 15.8749624,11.8125148 L15.8749624,10.6875174 C15.8749624,10.4545392 15.6860667,10.2656434 15.4530885,10.2656434 L0.546873994,10.2656434 C0.313895729,10.2656434 0.125,10.4545392 0.125,10.6875174 L0.125,11.8125148 C0.125,12.045493 0.313895729,12.2343887 0.546873994,12.2343887 L15.4530885,12.2343887 Z M15.4530885,17.8593753 C15.6860667,17.8593753 15.8749624,17.6704796 15.8749624,17.4375013 L15.8749624,16.312504 C15.8749624,16.0795258 15.6860667,15.89063 15.4530885,15.89063 L0.546873994,15.89063 C0.313895729,15.89063 0.125,16.0795258 0.125,16.312504 L0.125,17.4375013 C0.125,17.6704796 0.313895729,17.8593753 0.546873994,17.8593753 L15.4530885,17.8593753 Z" id="burger-menu"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>