<?xml version="1.0" encoding="UTF-8"?>
<svg width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>5E5DE7F1-5AC6-4A07-998D-60D5F0243CAC</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Headers-Camilla-11/20" transform="translate(-1313.000000, -145.000000)">
            <g id="Group-13" transform="translate(0.000000, 82.000000)">
                <g id="Group-11" transform="translate(0.000000, 34.000000)">
                    <g id="Group-10" transform="translate(24.000000, 16.000000)">
                        <g id="Group-9" transform="translate(1247.000000, 8.000000)">
                            <g id="Stacked-Group" transform="translate(0.000000, 5.000000)">
                                <g id="icons-top-bar-search-02-02" transform="translate(42.000000, 0.000000)">
                                    <path d="M14.7745061,16.9966297 C14.3853502,16.9966297 14.0230326,16.8449643 13.7479396,16.5719667 L9.55780381,12.4466693 C9.50077234,12.3893735 9.45045045,12.3287074 9.40348335,12.2646709 C8.50104417,12.7331483 7.50131601,12.9758128 6.45797555,12.9758128 C4.73361221,12.9758128 3.10989264,12.3017446 1.89210297,11.0749405 C0.670958498,9.8481364 0,8.2202617 0,6.48790642 C0,4.75555115 0.670958498,3.12430611 1.89210297,1.90087232 C3.11324743,0.6740682 4.73361221,0 6.45797555,0 C8.18233889,0 9.80605845,0.6740682 11.0238481,1.90087232 C12.2449926,3.12767645 12.9159511,4.75555115 12.9159511,6.48790642 C12.9159511,7.53608247 12.674406,8.54044409 12.2080899,9.44706582 C12.2718309,9.49088025 12.3288624,9.54143537 12.3858939,9.59873117 L16.5793845,13.7273989 C17.1429896,14.3003569 17.1396348,15.2272006 16.5726749,15.7967883 L15.8044274,16.5685964 C15.5293344,16.8449643 15.1670169,17 14.7778609,17 C14.7745061,16.9966297 14.7745061,16.9966297 14.7745061,16.9966297 Z M10.7420456,11.3445678 L14.7711513,15.3148295 L15.3246921,14.7587232 L11.2955863,10.7884615 L10.7386908,10.7884615 L10.7386908,11.3445678 L10.7420456,11.3445678 Z M6.45797555,1.61776368 C3.78420593,1.61776368 1.6103004,3.80174465 1.6103004,6.48790642 C1.6103004,9.1740682 3.78420593,11.3580492 6.45797555,11.3580492 C7.5516379,11.3580492 8.58155919,11.000793 9.44038607,10.3300952 L9.91341181,9.95935765 L10.282439,9.48750991 C10.9533975,8.62470262 11.3056507,7.59000793 11.3056507,6.49127676 C11.3056507,3.80174465 9.13174516,1.61776368 6.45797555,1.61776368 Z" id="Shape"></path>
                                    <path d="M16.197169,17 C15.9926901,17 15.7848592,16.9228362 15.6273099,16.7651537 L11.2863239,12.4238511 C10.9712254,12.108486 10.9712254,11.598534 11.2863239,11.2865238 C11.6014225,10.9711587 12.1109437,10.9711587 12.4226901,11.2865238 L16.7636761,15.6311813 C17.0787746,15.9465464 17.0787746,16.4564984 16.7636761,16.7685086 C16.6094789,16.9228362 16.4016479,17 16.197169,17 Z" id="Shape" fill="#000000" fill-rule="nonzero"></path>
                                    <path d="M6.8,13.6 C3.05240133,13.6 0,10.550107 0,6.79838288 C0,3.04665874 3.04916786,0 6.8,0 C10.5508321,0 13.6,3.04989298 13.6,6.80161712 C13.6,10.5533413 10.5475987,13.6 6.8,13.6 Z M6.8,1.55243757 C3.90603899,1.55243757 1.55206847,3.9069679 1.55206847,6.80161712 C1.55206847,9.69626635 3.90603899,12.0507967 6.8,12.0507967 C9.69396101,12.0507967 12.0479315,9.6930321 12.0479315,6.80161712 C12.0479315,3.9069679 9.69396101,1.55243757 6.8,1.55243757 Z" id="Shape" fill="#000000" fill-rule="nonzero"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>