<?xml version="1.0" encoding="UTF-8"?>
<svg width="38px" height="24px" viewBox="0 0 38 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: sketchtool 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
    <title>6A2D4DFC-E83D-4DE1-BB40-C2CC80697331</title>
    <desc>Created with sketchtool.</desc>
    <defs>
        <rect id="path-1" x="0" y="0" width="17" height="18"></rect>
        <rect id="path-3" x="0" y="0" width="17" height="21"></rect>
    </defs>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="footer" transform="translate(-1014.000000, -73.000000)">
            <g id="Paypal" style="mix-blend-mode: luminosity;" transform="translate(1014.000000, 73.000000)">
                <g id="Group-4">
                    <rect id="Rectangle-2-Copy-3" stroke="#D8D8D8" fill="#FFFFFF" x="0.5" y="0.5" width="37" height="23" rx="2"></rect>
                    <g id="pay-pal" transform="translate(11.000000, 3.000000)">
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                        </mask>
                        <use id="Mask" fill="#D8D8D8" xlink:href="#path-1"></use>
                        <g mask="url(#mask-2)" id="Group">
                            <g transform="translate(0.000000, -1.000000)">
                                <g>
                                    <g id="PayPal">
                                        <g id="Mask" fill="#FFFFFF" fill-rule="nonzero">
                                            <rect id="path-1" x="0" y="0" width="17" height="21"></rect>
                                        </g>
                                        <g id="Shape-Clipped">
                                            <mask id="mask-4" fill="white">
                                                <use xlink:href="#path-3"></use>
                                            </mask>
                                            <g id="path-1"></g>
                                            <g id="Shape" mask="url(#mask-4)">
                                                <g transform="translate(0.944444, 0.954545)" id="Group">
                                                    <g>
                                                        <path d="M4.58358072,17.2727273 L4.89599813,15.3349029 L4.20007789,15.3191529 L0.876984127,15.3191529 L3.18636405,1.01996898 C3.19353233,0.976802505 3.21682923,0.936552694 3.25087854,0.907969492 C3.28492786,0.879386291 3.32853488,0.863636364 3.37393397,0.863636364 L8.9771372,0.863636364 C10.8373051,0.863636364 12.1210241,1.24163462 12.791258,1.98771451 C13.1054674,2.33771289 13.3055818,2.7034612 13.4023536,3.10595934 C13.5039042,3.52829073 13.5056962,4.03287173 13.4065351,4.64828556 L13.3993668,4.69320202 L13.3993668,5.08753353 L13.7135762,5.26136606 C13.9782051,5.39844876 14.1884746,5.5553647 14.3497608,5.73503054 C14.6185712,6.03427916 14.7924019,6.41461074 14.8658768,6.86552532 C14.9417411,7.32927318 14.9166521,7.88110397 14.7924019,8.50585108 C14.6490364,9.22451443 14.4172622,9.85042819 14.1042474,10.3625925 C13.8163216,10.834507 13.4495447,11.2259219 13.0140719,11.5292538 C12.5983118,11.8174192 12.1042981,12.0361681 11.5457698,12.1761675 C11.0045649,12.3138335 10.3874957,12.3832498 9.71069089,12.3832498 L9.2746207,12.3832498 C8.96280064,12.3832498 8.65994094,12.492916 8.42219309,12.6894985 C8.18384787,12.8901642 8.02614578,13.1643296 7.97775991,13.4641616 L7.9449053,13.6385774 L7.39294797,17.0539783 L7.367859,17.1793944 C7.36128807,17.2190608 7.34993831,17.2388941 7.33321233,17.2523107 C7.31827841,17.2645607 7.29677358,17.2727273 7.27586611,17.2727273 L4.58358072,17.2727273 Z" id="Shape" fill="#253B80" fill-rule="nonzero"></path>
                                                        <path d="M13.4219698,4.31818181 C13.4055049,4.42119664 13.3866879,4.52651347 13.3655187,4.63470781 C12.6381223,8.28971972 10.1495685,9.5523707 6.97125238,9.5523707 L5.35298672,9.5523707 C4.96429718,9.5523707 4.63676303,9.82861148 4.57619568,10.2038387 L3.74765776,15.3465228 L3.51303276,16.8042688 C3.47363458,17.0505835 3.66768533,17.2727273 3.92171541,17.2727273 L6.79190245,17.2727273 C7.13178528,17.2727273 7.42050927,17.0310165 7.47402024,16.7029805 L7.5022458,16.5602561 L8.04264774,13.2039295 L8.07734166,13.019769 C8.1302646,12.690582 8.41957663,12.4488712 8.75945946,12.4488712 L9.18872325,12.4488712 C11.9695293,12.4488712 14.1464259,11.3439077 14.7826772,8.14641977 C15.0484679,6.8106801 14.9108683,5.69535761 14.2075813,4.91094867 C13.9947136,4.67441743 13.7306869,4.47817132 13.4219698,4.31818181 Z" id="Shape" fill="#179BD7" fill-rule="nonzero"></path>
                                                        <path d="M12.4003795,4.59239621 C12.2901953,4.55842821 12.1765133,4.52754821 12.0599164,4.49975621 C11.9427364,4.47258181 11.8226415,4.44849541 11.6990487,4.42749701 C11.2664739,4.35338502 10.7925072,4.31818181 10.2847274,4.31818181 L5.99862273,4.31818181 C5.89310247,4.31818181 5.79282908,4.34350341 5.70304941,4.38920582 C5.50541754,4.48987461 5.35850535,4.6881242 5.32294328,4.93084099 L4.41115496,11.0487863 L4.38492063,11.2272728 C4.44496808,10.8245976 4.76969064,10.5281495 5.15504364,10.5281495 L6.75941798,10.5281495 C9.91045118,10.5281495 12.377643,9.17251762 13.0987953,5.25075778 C13.1203658,5.13464899 13.1384383,5.02162819 13.1547619,4.91107779 C12.9722877,4.80855619 12.7746558,4.72085701 12.5618663,4.64612741 C12.5093977,4.6275994 12.45518,4.60968901 12.4003795,4.59239621 Z" id="Shape" fill="#222D65" fill-rule="nonzero"></path>
                                                        <path d="M5.81869625,4.46084437 C5.85561541,4.23313794 6.00813395,4.04714871 6.21330769,3.95328499 C6.30711869,3.91040897 6.4106134,3.88665334 6.52016045,3.88665334 L10.9698281,3.88665334 C11.4969853,3.88665334 11.9890392,3.91967947 12.4381216,3.98920815 C12.5664308,4.00890794 12.6911086,4.03150476 12.8127603,4.05699861 C12.9338067,4.08307187 13.0518271,4.11204215 13.166216,4.14390947 C13.2231078,4.16013283 13.2793945,4.17693559 13.3344706,4.19373835 C13.5553803,4.26384644 13.760554,4.34670146 13.9499918,4.44230339 C14.1727173,3.08243825 13.9481761,2.15654796 13.1801363,1.31814793 C12.3334164,0.395154678 10.8052049,0 8.84969944,0 L3.17262078,0 C2.77316748,0 2.43242172,0.278114729 2.37068802,0.656466642 L0.00604555847,15.0054484 C-0.040557326,15.2893573 0.188220471,15.5454546 0.487205211,15.5454546 L3.99210527,15.5454546 L4.87211299,10.2004371 L5.81869625,4.46084437 Z" id="Shape" fill="#253B80" fill-rule="nonzero"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>