<?xml version="1.0" encoding="UTF-8"?>
<svg width="16px" height="17px" viewBox="0 0 16 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>E2B2D05C-2328-4D39-85DF-29E06B4BB1EB</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Headers-Camilla-11/20" transform="translate(-1394.000000, -145.000000)" fill="#000000" fill-rule="nonzero">
            <g id="Group-13" transform="translate(0.000000, 82.000000)">
                <g id="Group-11" transform="translate(0.000000, 34.000000)">
                    <g id="Group-10" transform="translate(24.000000, 16.000000)">
                        <g id="Group-9" transform="translate(1247.000000, 8.000000)">
                            <g id="Stacked-Group" transform="translate(0.000000, 5.000000)">
                                <g id="icons-top-bar-03" transform="translate(123.000000, 0.000000)">
                                    <g id="Group" transform="translate(4.150776, 7.439604)">
                                        <ellipse id="Oval" cx="6.88957871" cy="0.737227723" rx="1" ry="1"></ellipse>
                                        <ellipse id="Oval" cx="0.780487805" cy="0.737227723" rx="1" ry="1"></ellipse>
                                    </g>
                                    <path d="M15.113082,4.73643564 L12.5552106,4.73643564 L12.5552106,4.57821782 C12.5552106,1.92891089 10.6323725,0.00673267327 7.98580931,0.00673267327 C6.67317073,0.00673267327 5.48470067,0.484752475 4.64035477,1.34990099 C3.82793792,2.18475248 3.37738359,3.33267327 3.37738359,4.58158416 L3.37738359,4.73980198 L0.854988914,4.73980198 C0.383148559,4.73980198 0.00354767184,5.1 0.00354767184,5.54772277 L0.00354767184,13.7615842 C0.00354767184,15.5390099 1.52904656,16.9865347 3.40221729,16.9865347 L12.5694013,16.9865347 C14.4425721,16.9865347 15.968071,15.5390099 15.968071,13.7615842 L15.968071,5.54772277 C15.9645233,5.1 15.5849224,4.73643564 15.113082,4.73643564 Z M5.08026608,4.57821782 C5.08026608,3.73663366 5.36762749,2.97920792 5.88913525,2.4439604 C6.41419069,1.90534653 7.13791574,1.61920792 7.98226164,1.61920792 C8.82305987,1.61920792 9.53968958,1.9019802 10.054102,2.44059406 C10.5649667,2.97247525 10.8487805,3.73326733 10.8487805,4.57821782 L10.8487805,4.73643564 L5.08026608,4.73643564 L5.08026608,4.57821782 Z M14.2616408,13.7615842 C14.2616408,14.6469307 13.502439,15.3706931 12.5658537,15.3706931 L3.40221729,15.3706931 C2.4691796,15.3706931 1.70643016,14.650297 1.70643016,13.7615842 L1.70643016,6.35564356 L4.22882483,6.35564356 L11.7037694,6.35564356 L14.2616408,6.35564356 L14.2616408,13.7615842 Z" id="Shape"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>