{%- unless product == blank -%}
  {%- for video_url in product.metafields.global.video_id -%}
    {%- assign video_thumbnail_url = product.metafields.global.video_thumbnail[forloop.index0] | strip -%}
    {%- if video_thumbnail_url == blank -%}
      {%- assign video_thumbnail_url = featured_image | img_url: '100x100', scale: 2 -%}
    {%- endif -%}
    <li class="grid__item {{ product_thumbnail_width }} product-single__thumbnails-item js">
      <a href="#"
         class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}">
        <img class="product-single__thumbnail-image" src="{{ video_thumbnail_url }}">
        <i class="fas fa-play"></i>
      </a>
    </li>
  {%- endfor -%}
{%- endunless -%}
