<section class="home-instagram  {% if section.settings.show == 'desktop' %}showDesktop {% elsif section.settings.show == 'mobile' %}showMobile {% elsif section.settings.show == 'tablet' %}showTablet {% endif %}" data-section-id="{{ section.id }}" data-section-type="home-instagram">
<div class="section-header text-center"><h2>{{ section.settings.title }} </h2></div>
<div class="section-content">{{ section.settings.emebed_code }}</div>
</section> 

{% schema %}
{
    "name": "Instagram (Acidgreen)",
    "class": "index-section",
    "settings": [
        {
            "type": "select",
            "id": "show",
            "label": "Show section on",
            "options": [
                { "value": "all", "label": "All" },
                { "value": "desktop", "label": "Desktop" },
                { "value": "mobile", "label": "Mobile" }
            ],
            "default": "all"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Header Title",
            "default": "Shop on Instagram"
        },
        {
            "type": "textarea",
            "id": "emebed_code",
            "label": "460 embed code"
        }
    ],
    "presets": [
        {
            "name": "Instagram (Acidgreen)",
            "category": "Social media"
        }
    ]
}
{% endschema %}