<div class="EmptyState">
  <div class="Container">
    <h3 class="EmptyState__Title Heading u-h5">{{ '404.general.title' | t }}</h3>
    <p class="EmptyState__Description Text--subdued">{{ '404.general.content' | t }}</p>
    <a href="/" class="EmptyState__Action Button Button--primary">{{ '404.general.button' | t }}</a>
  </div>
</div>