{% include 'restricted' %}
{% capture normal_content %}
<script type="text/javascript" src="https://dqalqqxcpkg5p.cloudfront.net/scripts/widgets/job-listings-widget.host.1.0.0.js" defer="defer"></script>
<div class="page-width pageContent">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header">
        <h1>{{ page.title }}</h1>
      </div>
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
{% endcapture %}

{% if content_restricted == true  %}
  {% if vip_customer == true %}
      {{normal_content}}
  {% else %}
      {% include 'restricted_msg' %}
  {% endif %}
{% else %}
    {{normal_content}}
{% endif %}
